<h1> Data Analysis with python </h1>

In [2]:
import pandas as pd

In [3]:
# Read the CNH file
CNH = pd.read_excel("C:\\Users\\steve rufin\\Desktop\\Niagara_Revenue.xlsx")

In [4]:
# Display the CNH DataFrame
CNH

,Arrival Date,Arrival Day,WE indicator,Capacity,Days Out,Sys Rem Dem,Rem Dem STLY,Applied Rem Dem,User Override,Event,...,Room Collection 3 Rem Dem TY %,Room Collection 3 Rem Dem STLY #,Room Collection 3 Rem Dem STLY %,Room Collection 4 Hurdle Revenue,Room Collection 4 Transient OTB TY,Room Collection 4 Transient OTB STLY,Room Collection 4 Rem DemTY #,Room Collection 4 Rem Dem TY %,Room Collection 4 Rem Dem STLY #,Room Collection 4 Rem Dem STLY %
0,2020-06-01,MON,N,432,Actual,NaN,NaN,NaN,Y,N,...,NaN,NaN,NaN,0.00,2,NaN,NaN,NaN,NaN,NaN
1,2020-06-02,TUE,N,432,Actual,NaN,NaN,NaN,Y,N,...,NaN,NaN,NaN,0.00,5,NaN,NaN,NaN,NaN,NaN
2,2020-06-03,WED,N,432,Actual,NaN,NaN,NaN,Y,N,...,NaN,NaN,NaN,0.00,4,NaN,NaN,NaN,NaN,NaN
3,2020-06-04,THU,N,432,Actual,NaN,NaN,NaN,Y,N,...,NaN,NaN,NaN,0.00,6,NaN,NaN,NaN,NaN,NaN
4,2020-06-05,FRI,Y,432,Actual,NaN,NaN,NaN,Y,N,...,NaN,NaN,NaN,0.00,8,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
372,2021-06-08,TUE,N,432,361,103.13,18.0,103.13,N,N,...,42.27,11.00,61.00,243.60,0,NaN,7.99,7.75,NaN,NaN
373,2021-06-09,WED,N,432,362,107.72,26.0,107.72,N,N,...,41.57,16.00,62.00,243.60,0,NaN,8.13,7.54,2.00,8.0
374,2021-06-10,THU,N,432,363,108.94,490.8,108.94,N,N,...,38.83,220.91,45.01,154.92,0,NaN,7.94,7.29,38.29,7.8
375,2021-06-11,FRI,Y,432,364,509.76,NaN,509.76,N,N,...,44.68,NaN,NaN,240.47,0,NaN,35.43,6.95,NaN,NaN
376,2021-06-12,SAT,Y,432,365,455.60,NaN,455.60,N,N,...,41.51,NaN,NaN,150.97,0,NaN,30.83,6.77,NaN,NaN

In [5]:
# Make a copy of CNH
df = CNH.copy()

In [6]:
# Display df
df

,Arrival Date,Arrival Day,WE indicator,Capacity,Days Out,Sys Rem Dem,Rem Dem STLY,Applied Rem Dem,User Override,Event,...,Room Collection 3 Rem Dem TY %,Room Collection 3 Rem Dem STLY #,Room Collection 3 Rem Dem STLY %,Room Collection 4 Hurdle Revenue,Room Collection 4 Transient OTB TY,Room Collection 4 Transient OTB STLY,Room Collection 4 Rem DemTY #,Room Collection 4 Rem Dem TY %,Room Collection 4 Rem Dem STLY #,Room Collection 4 Rem Dem STLY %
0,2020-06-01,MON,N,432,Actual,NaN,NaN,NaN,Y,N,...,NaN,NaN,NaN,0.00,2,NaN,NaN,NaN,NaN,NaN
1,2020-06-02,TUE,N,432,Actual,NaN,NaN,NaN,Y,N,...,NaN,NaN,NaN,0.00,5,NaN,NaN,NaN,NaN,NaN
2,2020-06-03,WED,N,432,Actual,NaN,NaN,NaN,Y,N,...,NaN,NaN,NaN,0.00,4,NaN,NaN,NaN,NaN,NaN
3,2020-06-04,THU,N,432,Actual,NaN,NaN,NaN,Y,N,...,NaN,NaN,NaN,0.00,6,NaN,NaN,NaN,NaN,NaN
4,2020-06-05,FRI,Y,432,Actual,NaN,NaN,NaN,Y,N,...,NaN,NaN,NaN,0.00,8,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
372,2021-06-08,TUE,N,432,361,103.13,18.0,103.13,N,N,...,42.27,11.00,61.00,243.60,0,NaN,7.99,7.75,NaN,NaN
373,2021-06-09,WED,N,432,362,107.72,26.0,107.72,N,N,...,41.57,16.00,62.00,243.60,0,NaN,8.13,7.54,2.00,8.0
374,2021-06-10,THU,N,432,363,108.94,490.8,108.94,N,N,...,38.83,220.91,45.01,154.92,0,NaN,7.94,7.29,38.29,7.8
375,2021-06-11,FRI,Y,432,364,509.76,NaN,509.76,N,N,...,44.68,NaN,NaN,240.47,0,NaN,35.43,6.95,NaN,NaN
376,2021-06-12,SAT,Y,432,365,455.60,NaN,455.60,N,N,...,41.51,NaN,NaN,150.97,0,NaN,30.83,6.77,NaN,NaN

<h3> Exploratory analysis </h3>

In [7]:
# describe df
df.describe()

,Capacity,Sys Rem Dem,Rem Dem STLY,Applied Rem Dem,Total Available Transient Supply,Total Transient Booked,Total Transient Booked STLY,Additional Demand,Additional Demand STLY,Total Transient Demand,...,Room Collection 3 Rem Dem TY %,Room Collection 3 Rem Dem STLY #,Room Collection 3 Rem Dem STLY %,Room Collection 4 Hurdle Revenue,Room Collection 4 Transient OTB TY,Room Collection 4 Transient OTB STLY,Room Collection 4 Rem DemTY #,Room Collection 4 Rem Dem TY %,Room Collection 4 Rem Dem STLY #,Room Collection 4 Rem Dem STLY %
count,377.0,366.000000,364.000000,366.000000,377.000000,301.000000,338.000000,148.000000,338.000000,377.000000,...,366.000000,363.000000,363.000000,377.000000,377.000000,219.000000,366.000000,366.000000,356.000000,356.000000
mean,432.0,168.166885,211.058077,163.475574,395.264960,22.016611,90.748521,19.990608,21.480030,184.131592,...,36.811202,79.638099,38.945730,4.322149,1.501326,7.301370,10.430437,6.785437,16.735197,9.489775
std,0.0,125.139357,157.277895,118.867674,42.579159,20.904299,120.876345,17.375392,41.603572,125.946725,...,7.874366,61.443453,9.802116,29.841123,2.253985,8.590081,7.423298,2.862946,13.024180,7.466831
min,432.0,17.850000,0.260000,17.850000,186.860000,1.000000,1.000000,0.230000,0.000000,32.640000,...,15.130000,1.000000,6.000000,0.000000,0.000000,1.000000,1.040000,2.800000,0.260000,1.000000
25%,432.0,62.542500,62.550000,62.542500,380.040000,3.000000,5.000000,8.152500,0.000000,78.600000,...,31.545000,25.140000,33.340000,0.000000,0.000000,1.000000,4.032500,5.522500,5.412500,6.000000
50%,432.0,105.205000,193.105000,106.515000,407.000000,13.000000,15.000000,15.760000,0.445000,135.450000,...,37.415000,64.910000,38.000000,0.000000,0.000000,4.000000,7.575000,6.275000,13.340000,7.850000
75%,432.0,280.860000,357.235000,271.000000,429.820000,40.000000,144.750000,27.487500,23.877500,298.920000,...,41.215000,130.545000,43.000000,0.000000,3.000000,10.000000,17.592500,7.042500,25.942500,10.477500
max,432.0,509.760000,569.880000,521.000000,432.320000,103.000000,438.000000,88.730000,262.160000,534.000000,...,72.030000,241.910000,81.000000,243.600000,20.000000,48.000000,35.430000,22.120000,62.880000,100.000000

In [10]:
# display the first 5 rows of df
df.head()

,Arrival Date,Arrival Day,WE indicator,Capacity,Days Out,Sys Rem Dem,Rem Dem STLY,Applied Rem Dem,User Override,Event,...,Room Collection 3 Rem Dem TY %,Room Collection 3 Rem Dem STLY #,Room Collection 3 Rem Dem STLY %,Room Collection 4 Hurdle Revenue,Room Collection 4 Transient OTB TY,Room Collection 4 Transient OTB STLY,Room Collection 4 Rem DemTY #,Room Collection 4 Rem Dem TY %,Room Collection 4 Rem Dem STLY #,Room Collection 4 Rem Dem STLY %
0,2020-06-01,MON,N,432,Actual,NaN,NaN,NaN,Y,N,...,NaN,NaN,NaN,0.0,2,NaN,NaN,NaN,NaN,NaN
1,2020-06-02,TUE,N,432,Actual,NaN,NaN,NaN,Y,N,...,NaN,NaN,NaN,0.0,5,NaN,NaN,NaN,NaN,NaN
2,2020-06-03,WED,N,432,Actual,NaN,NaN,NaN,Y,N,...,NaN,NaN,NaN,0.0,4,NaN,NaN,NaN,NaN,NaN
3,2020-06-04,THU,N,432,Actual,NaN,NaN,NaN,Y,N,...,NaN,NaN,NaN,0.0,6,NaN,NaN,NaN,NaN,NaN
4,2020-06-05,FRI,Y,432,Actual,NaN,NaN,NaN,Y,N,...,NaN,NaN,NaN,0.0,8,NaN,NaN,NaN,NaN,NaN

In [11]:
# Display the last 5 rows of df
df.tail()

,Arrival Date,Arrival Day,WE indicator,Capacity,Days Out,Sys Rem Dem,Rem Dem STLY,Applied Rem Dem,User Override,Event,...,Room Collection 3 Rem Dem TY %,Room Collection 3 Rem Dem STLY #,Room Collection 3 Rem Dem STLY %,Room Collection 4 Hurdle Revenue,Room Collection 4 Transient OTB TY,Room Collection 4 Transient OTB STLY,Room Collection 4 Rem DemTY #,Room Collection 4 Rem Dem TY %,Room Collection 4 Rem Dem STLY #,Room Collection 4 Rem Dem STLY %
372,2021-06-08,TUE,N,432,361,103.13,18.0,103.13,N,N,...,42.27,11.00,61.00,243.60,0,NaN,7.99,7.75,NaN,NaN
373,2021-06-09,WED,N,432,362,107.72,26.0,107.72,N,N,...,41.57,16.00,62.00,243.60,0,NaN,8.13,7.54,2.00,8.0
374,2021-06-10,THU,N,432,363,108.94,490.8,108.94,N,N,...,38.83,220.91,45.01,154.92,0,NaN,7.94,7.29,38.29,7.8
375,2021-06-11,FRI,Y,432,364,509.76,NaN,509.76,N,N,...,44.68,NaN,NaN,240.47,0,NaN,35.43,6.95,NaN,NaN
376,2021-06-12,SAT,Y,432,365,455.60,NaN,455.60,N,N,...,41.51,NaN,NaN,150.97,0,NaN,30.83,6.77,NaN,NaN